<form class="forms-sample" autocomplete="off" [formGroup]="resetPassForm" (ngSubmit)="submitResetPassForm()">

  <div class="row">
    <div class="form-group" [ngClass]="{'col-md-6': colOption}">
      <label for="password" class="control-label">Contraseña</label>
      <input type="password" class="form-control" id="password1" placeholder="Contraseña" formControlName="password"/>
      <app-error-input [FormGroupControl]="resetPassForm" [options]="{ control: 'password', errors: [{ type: 'required', message: 'Este campo es requerido' }]}"></app-error-input>
    </div>

    <div class="form-group" [ngClass]="{'col-md-6': colOption}">
      <label for="passwordConfirmation" class="control-label">Confirma tu contraseña</label>
      <input type="password" class="form-control" id="passwordConfirmation" placeholder="Confirma tu contraseña" formControlName="passwordConfirmation"/>
      <app-error-input [FormGroupControl]="resetPassForm" [options]="{ control: 'passwordConfirmation', errors: [ { type: 'required', message: 'Este campo es requerido' },{ type: 'NoPasswordMatch', message: 'Las contraseñas no coinciden' }]}"></app-error-input>
    </div>

  </div>
    <article class="my-2 d-block text-center">
      <p class="me-2 text-danger" *ngIf="minCharacter">
        <i class="feather me-1 icon-x-circle"></i>
        <span>¡Debe tener al menos 8 caracteres!</span>
      </p>

      <p class="me-2 text-danger"*ngIf="number">
        <i class="feather me-1 icon-x-circle"></i>
        <span>Debe ser al menos 1 número!</span>
      </p>

      <p class="me-2 text-danger" *ngIf="capitalCase">
        <i class="feather me-1 icon-x-circle"></i>
        <span>Debe tener al menos 1 letra mayúscula!</span>
      </p>

      <p class="me-2 text-danger" *ngIf="smallCase">
        <i class="feather me-1 icon-x-circle"></i>
        <span>Debe tener al menos 1 letra minúscula!</span>
      </p>

      <p class="me-2 text-danger" *ngIf="specialCharacters">
        <i class="feather me-1 icon-x-circle"></i>
        <span>¡Debe tener al menos 1 carácter especial!</span>
      </p>
    </article>

    <button type="submit" class="btn btn-primary me-2 mb-2 float-start" [disabled]="resetPassForm.invalid || processStatus">
      <span *ngIf="!processStatus">{{ textButton }}</span>
      <span class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" *ngIf="processStatus"></span>
      <span *ngIf="processStatus">Processing...</span>
    </button>
</form>
